 .u-section-1 {
  background-image: url("images/sfondogif1.gif");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1780px;
}

.u-section-1 .u-text-1 {
  margin: 439px 423px 0 448px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 1102px;
  height: 798px;
  margin: -811px -83px 0 auto;
}

.u-section-1 .u-text-2 {
  width: 245px;
  font-size: 3rem;
  margin: -259px auto 0;
}

.u-section-1 .u-image-2 {
  width: 338px;
  height: 219px;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  margin: -26px auto 0 0;
}

.u-section-1 .u-image-3 {
  width: 315px;
  height: 236px;
  margin: -177px 0 0 auto;
}

.u-section-1 .u-btn-2 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: -529px auto 0 0;
  padding: 8px 36px 9px 35px;
}

.u-section-1 .u-text-3 {
  margin: 488px 0 0;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-size: 1.25rem;
  margin: 73px auto 60px 409px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1879px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 519px;
    margin-right: 274px;
    margin-left: 387px;
  }

  .u-section-1 .u-image-1 {
    width: 843px;
    height: 666px;
    margin-top: -809px;
    margin-right: -24px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -167px;
    margin-right: 309px;
    margin-left: 387px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 15px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -206px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -564px;
    margin-left: -50px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 543px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 46px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: 442px;
    margin-right: 256px;
    margin-left: 291px;
  }

  .u-section-1 .u-image-1 {
    width: 589px;
    height: 492px;
    margin-top: -730px;
    margin-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -154px;
    margin-right: 193px;
    margin-left: 259px;
  }

  .u-section-1 .u-image-2 {
    width: 279px;
    height: 181px;
    margin-top: 0;
    margin-left: -12px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -208px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -425px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 487px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 579px;
    margin-right: 0;
    margin-left: 313px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 451px;
    margin-top: -772px;
    margin-right: -36px;
  }

  .u-section-1 .u-text-2 {
    width: 300px;
    margin-top: -104px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: 123px;
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    width: 196px;
    height: 147px;
    margin-top: -364px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 436px;
    margin-left: 198px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -213px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 23px;
    margin-right: 95px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1567px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 865px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-image-1 {
    height: 408px;
    width: 678px;
    margin-top: -918px;
    margin-right: auto;
    margin-left: -100px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -66px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 116px;
    margin-left: auto;
  }

  .u-section-1 .u-image-3 {
    margin-top: -335px;
    margin-left: 55px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 764px;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: -422px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 15px;
    margin-right: auto;
  }
}